.badge {
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: 3rem;
  font-size: var(--font-size-sm);
  text-transform: uppercase;
}

.badge-discount {
  background: var(--color-red-8);
  color: var(--color-gray-1);
}

.badge-sold-out {
  background: var(--color-gray-11);
  color: var(--color-gray-1);
}

.badge-new-arrival {
  background: var(--color-green-8);
  color: var(--color-gray-1);
}

.all-badges {
  display: flex;
  gap: var(--spacing-xs)
}