.watch-card {
    width: 260px;
    border-radius: var(--spacing-sm);
    background: var(--color-gray-1);
    box-shadow: 0 4px 10px oklch(0% 0 0 / 0.08);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.watch-card-image {
    position: relative;
    padding: var(--spacing-sm);
    background: var(--color-gray-2);
    cursor: pointer;
}

.watch-card-content {
    padding: var(--spacing-md);
}

.watch-brand {
    font-size: var(--font-size-xs);
    color: var(--color-gray-11);
}

.watch-name {
    font-size: var(--font-size-h6);
    margin: var(--spacing-xs) 0;
    color: var(--color-gray-13);
}

.watch-reference {
    font-size: var(--font-size-xs);
    color: var(--color-gray-11);
}

.watch-price {
    font-size: var(--font-size-body);
    font-weight: 600;
    margin-top: var(--spacing-sm);
    color: var(--color-green-9);

}

.watch-card .button {
    width: 100%;
}

.watch-card-image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.watch-card-image img:hover {
    transform: scale(1.05);
}